[submodule "esm-coupling-analysis"]
	path = python-coupling-analysis
	url = https://python-analysis:glpat-Zk_T952XjXsxCLiRst1t@cau-git.rz.uni-kiel.de/ifi-ag-se/oceandsl/esm-coupling-analysis.git
[submodule "java-restructuring"]
	path = java-restructuring
	url = https://java-restructuring:glpat-9EeDaDEM3RL25_81Xx-W@cau-git.rz.uni-kiel.de/ifi-ag-se/oceandsl/genetic-restructuring.git
	shallow = true
