# PREFIX for the mitgcm model variants
PREFIX="/home/reiner/Projects/OceanDSL/case-studies/MITgcm/verification"

# Library path including Kieker libraries
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/home/reiner/Projects/Kieker/kieker-lang-pack-c/libkieker/.libs"

# Compile configuration for kieker
export CONFIGURATION="${BASE_DIR}/linux_amd64_gfortran_kieker"

# Location for the observed monitoring data for each model variant
export DATA_PATH="$BASE_DIR/dynamic-data"

# Location for dynamic and static data
export DYNAMIC_DATA_PATH="${DATA_PATH}"
export STATIC_DATA_PATH="/home/reiner/Projects/OceanDSL/experiments/static-uvic"

# prepocessor
PREPROCESS="$BASE_DIR/../pp-static-log/bin/pp-static-log"

# arcitecture analysis tool
ANALYSIS="$BASE_DIR/../create-architecture-model/bin/create-architecture-model"

# addr2line
ADDR2LINE=`which addr2line`

# Path to the executable
EXECUTABLE="$BASE_DIR/../../case-studies/MITgcm/verification/$NAME/build/mitgcmuv"

# Dynamic and static prefix
DYNAMIC_PREFIX="$PREFIX/$NAME/build/"
STATIC_PREFIX="/home/hschnoor/eclipse-workspace/PlayPython/resources/preprocessed/MITgcm-$NAME/"

# Hostname where the dynamic analysis was executed
HOST=node1

