# Path to uvic repository
REPOSITORY_DIR="${REPLICATION_DIR}/UVic_ESCM/2.9"
# Compile configurtion for kieker
export CONFIGURATION="${REPOSITORY_DIR}/run/mk.in"
# Source code root directory
SOURCE_CODE_PATH="${REPOSITORY_DIR}/source"
# Processed source code directory
PROCESSED_CODE_PATH="${REPOSITORY_DIR}/run/code"
# Path to the executable
EXECUTABLE="${REPOSITORY_DIR}/run/UVic_ESCM"

